<!DOCTYPE html>
<html lang="ko">
  <%- include('layouts/header') -%>
  <link rel="stylesheet" href="/css/calendar_web_style.css" />
  <link rel="stylesheet" href="/css/menu_web_style.css" />
  <body>
    <%- include('layouts/navbar') -%>
    <div class="hero_banner"></div>
    <article class="specific_page_container">
      <div class="lnb_container">
        <nav class="lnb_container_nav">
          <div class="nav_header">
            <span> 학교 소개 </span>
          </div>
          <ol class="nav_container">
            <li>
              <a href="/introduce"><span>학교 현황</span></a>
            </li>
            <li>
              <a href="/calendar"><span>학사 일정</span></a>
            </li>
            <li>
              <a href="/student"><span>교직원 소개</span></a>
            </li>
            <li>
              <a href="/way"><span>오시는 길</span></a>
            </li>
          </ol>
        </nav>
      </div>
      <div class="content_container">
        <h1 class="content_big_title">학사 일정</h1>
        <div class="calendar_whole_container">
          <div class="calendar_container">
            <div class="calendar_header">
              <button class="prev_btn"><span class="blind">prev</span></button>
              <div class="year_month"></div>
              <button class="next_btn"><span class="blind">next</span></button>
            </div>
            <div class="calendar_content">
              <div class="days">
                <div class="day">일</div>
                <div class="day">월</div>
                <div class="day">화</div>
                <div class="day">수</div>
                <div class="day">목</div>
                <div class="day">금</div>
                <div class="day">토</div>
              </div>
              <div class="dates"></div>
            </div>
          </div>
          <div
            class="calendar_descript_container"
            year="<%= cur_year %>"
            month="<%= cur_month + 1 %>"
          >
            <% for(let i = 0; i < calendars.length; i++) { %>
            <li class="calendar_descript_individual">
              <span class="calendar_descript_title"
                ><%= moment(calendars[i].date).format('MM-DD') %></span
              >
              <span class="calendar_descript_content"
                ><%= calendars[i].content %></span
              >
            </li>
            <% } %>
          </div>
        </div>
      </div>
    </article>
    <script type="module" src="/js/calendar.js"></script>
  </body>
</html>
