<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<link rel="stylesheet" href="/css/main_web_style.css">
<body>
    <%- include('layouts/navbar') -%>
    <div class = "content_wrap">
        <p id = "float_notice">
            <span class = "float left_margin">학교 급훈</span>
            <MARQUEE class = "float right_margin">슬기로운 생활, 탐구하는 태도, 봉사하는 생활</MARQUEE>
        </p>
        <div class = "rec_wrap">
            <div class = "round_rectangle notice">
                <div class = "rec_title_wrap">
                    <span class = "rec_title">공지사항</span>
                    <a href="/notice/pages/1" class = "plus_icon"><img src = "./img/plus.png" class = "plus_icon"></a>
                </div>
                <hr class = "line rec_line notice"/>
                <div class = "rec_content">
                    <ol>
                        <% if(notices.length <= 9) { %>
                            <% for(var i = notices.length - 1; i >= 0; i--) { %> 
                                <li class = "board_title"><a href = "/notice/content/<%= notices[i]._id %>" class = "board_text"><%= notices[i].title %></a></li>
                            <% } %>
                        <% } else { %>
                            <% for(var i = notices.length - 1; i >= notices.length - 9; i--) { %> 
                                <li class = "board_title"><a href = "/notice/content/<%= notices[i]._id %>" class = "board_text"><%= notices[i].title %></a></li>
                            <% } %>
                        <% } %>
                    </ol>
                </div>
            </div>
            <div class = "round_rectangle calendar">
                <div class = "rec_title_wrap">
                    <span class = "rec_title">학사일정</span>
                    <a href="/calendar" class = "plus_icon"><img src = "/img/plus.png" class = "plus_icon"></a>
                </div>
                <hr class = "line rec_line calendar"/>
                <div class = "rec_content">
                    <% for(var i = 0; i < calendars.length; i++) { %>
                        <li class = "board_title">
                            <span class = "bold board_text"><%= moment(calendars[i].date).format('MM-DD') %></span>
                            <span class = "board_date_content board_text left_margin"><%= calendars[i].content %></span>
                        </li>
                    <% } %>
                </div>
            </div>
            <div class = "round_rectangle item">
                <div class = "rec_title_wrap">
                    <span class = "rec_title">오늘의 급식</span>
                    <a href="#" class = "plus_icon"><img src = "/img/plus.png" class = "plus_icon"></a>
                </div>
                <hr class = "line rec_line item"/>
                <div class = "rec_content rec_item" date = "<%= moment(schoolmeals[0].date).format('YYYY-MM-DD') %>">
                    <a id="prevmeal" style="cursor: pointer"><img class = "arrow_img left" src = "/img/left.png"></a>
                    <div id = "rec_item_descript" class = "rec_item_descript">
                        <div>
                            <div class = "meal cur" value="1">
                                <img class = "item_img" src = "<%= schoolmeals[0].image %>">
                                <div class = "meal_cur_menu">
                                    <span class = "bold"><%= moment(schoolmeals[0].date).format('MM/DD(dddd)')%> <%= schoolmeals[0].value %></span>
                                    <hr style="visibility: hidden;"/>
                                    <ol class="breakfast">
                                        <% for(var i = 0; i < schoolmeals[0].meal.length; i++) { %>
                                            <li><%= schoolmeals[0].meal[i] %></li>
                                        <% } %>
                                    </ol>
                                </div>
                            </div>
                            <div class = "hidden meal"  value="2">
                                <img class = "item_img" src = "<%= schoolmeals[1].image %>">
                                <div class = "meal_cur_menu">
                                    <span class = "bold"><%= moment(schoolmeals[1].date).format('MM/DD(dddd)')%> <%= schoolmeals[1].value %></span>
                                    <hr style="visibility: hidden;"/>
                                    <ol class="lunch">
                                        <% for(var i = 0; i < schoolmeals[1].meal.length; i++) { %>
                                            <li><%= schoolmeals[1].meal[i] %></li>
                                        <% } %>
                                    </ol>
                                </div>
                            </div>
                            <div class = "hidden meal"  value="3">
                                <img class = "item_img" src = "<%= schoolmeals[2].image %>">
                                <div class = "meal_cur_menu">
                                    <span class = "bold"><%= moment(schoolmeals[2].date).format('MM/DD(dddd)')%> <%= schoolmeals[2].value %></span>
                                    <hr style="visibility: hidden;"/>
                                    <ol class="dinner">
                                        <% for(var i = 0; i < schoolmeals[2].meal.length; i++) { %>
                                            <li><%= schoolmeals[2].meal[i] %></li>
                                        <% } %>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a id="nextmeal" style="cursor: pointer"><img class = "arrow_img right" src = "/img/right.png"></a>
                </div>
            </div>
        </div>
        <div class = "float_clear"></div>
        <div class = "rec_wrap" style="margin-top: 40px;">
            <a class="twitter-timeline" data-width="350" data-height="450" href="https://twitter.com/shima_hanasaki?ref_src=twsrc%5Etfw">
                Tweets by shima_hanasaki
            </a> 
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <div class = "round_rectangle_board">
                <div class = "rec_title_wrap">
                    <span class = "rec_title_board right_margin">익명 게시판</span>
                    <a href="/anonyboard/pages/1" class = "plus_icon left_margin"><img src = "/img/plus.png" class = "plus_icon"></a>
                </div>
                <hr class = "rec_board_line"/>
                <div class = "rec_content" style = "margin-top: 30px;">
                    <ol>
                        <% if(anonyboards.length <= 9) { %>
                            <% for(var i = anonyboards.length - 1; i >= 0; i--) { %> 
                                <li class = "board_title"><a href = "/anonyboard/content/<%= anonyboards[i]._id %>" class = "board_text"><%= anonyboards[i].title %></a></li>
                            <% } %>
                        <% } else { %>
                            <% for(var i = anonyboards.length - 1; i >= anonyboards.length - 9; i--) { %> 
                                <li class = "board_title"><a href = "/anonyboard/content/<%= anonyboards[i]._id %>" class = "board_text"><%= anonyboards[i].title %></a></li>
                            <% } %>
                        <% } %>
                    </ol>
                </div>
            </div>
            <a href="/qna">
                <div class = "rec_qna">
                    <span>Q&A</span>
                </div>
            </a>
        </div>
    </div>
    <script src="./js/meal.js"></script>
</body>
</html>