<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<link rel="stylesheet" href="/css/QnA_web_style.css">
<script src="/js/toggle.js"></script>
<body>
    <%- include('layouts/navbar') -%>
    <article>
        <span>QnA</span>
        <div>
            <% for(var i = 0; i < qnas.length; i++) { %>
                <div class = "qna_title">
                    <div>
                        <%= qnas[i].title %>
                    </div>
                    <img src = "./img/down.png" onclick="toggle('<%= i %>')">
                </div>
                <div class = "qna_content" value = "<%= i %>">
                    <%= qnas[i].content %>
                </div>
            <% } %>
        </div>
    </article>
    <script src="./js/toggle.js"></script>
</body>
</html>