<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<link rel="stylesheet" href="/css/student_web_style.css">
<body>
    <%- include('layouts/navbar') -%>
    <article>
        <div class = "bold member">구성원</div>
        <div class = "members_wrap">
            <% for(var i = 0; i < members.length; i++) { %>
                <div class = "member_wrap">
                    <img class = "member member_img" src="<%= members[i].image %>">
                    <div class = "member member_name"><%= members[i].name %></div>
                    <div class = "member member_sub"><%= members[i].position %></div>
                </div>
            <% } %>
        </div>
    </article>
</body>
</html>